
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
}


header {
    background-color: #333;
    color: white;
    padding: 20px;
    text-align: left;
}

header h1 {
    margin: 0;
    font-size: 28px;
}

nav a {
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    display: inline-block;
    background-color: #555;
    border-radius: 5px;
}

nav a:hover {
    background-color: #777;
}


section {
    margin: 20px;
    padding: 20px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

h2 {
    font-size: 24px;
    margin-bottom: 20px;
    text-align: left;
}


.poema-container {
    text-align: left;
    font-style: italic;
}

.poema-text {
    font-size: 15px;
    line-height: 1;
    white-space: pre-wrap; 
}


footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px;
    position: relative;
    bottom: 0;
    width: 100%;
}
